.container {
    margin-top: 2rem;
}


.table {
    min-width: 650;
}


.tableSpace {
    margin-top: 20;
}


.gallery {
    margin: 5px;
    border: 1px;
    width: 180;
}

.paper {
    margin-top: -11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}